API_PORT=8081
WEB_PORT=4173
POSTGRES_PORT=5432
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
REDIS_PORT=6379
PORTAINER_PORT=9000
VITE_ALLOWED_HOSTS=edu-stats.stoneycroft.leewinter.net
VITE_API_BASE_URL=/
